.container_section {
    display: flex;
    justify-content: center;
}
.container_main {   
    display: flex;
    flex-direction: column;
    align-items: center;          
    background: var(--background-gradiente1);
    padding: 1.5rem;
    border-radius: 10px;       
    max-height: fit-content;
    box-sizing: border-box;
    box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3);
}

.container_main button {
    display: block;
    margin-top: 1.4rem;
    padding: 18px 30px;
    border-radius: 10px;
}



.container_1 {
    display: flex;    
    justify-content: space-around;
    align-items: center;
    gap: 6rem;    
    padding-bottom: 2rem;
}

.container_1 h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--cor-verde-fonte);
}

.container_1 h4 {
    font-size: 20px;
    color: white;
}

.container_2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

@media (max-width: 720px) {
    .container_section {
        padding: 3rem 0;
    }

    .container_1 {
        flex-direction: column;
        
    } 
    .container_1 h4 {
        margin-top: -40px;
    } 

    .container_2 {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .container_1 h2 {
        font-size: 2.4rem;
        margin-bottom: -20px;
    }

    .container_1 h4 {
        font-size: 1.2rem;
    }
}

@media (min-width: 390px) and (max-width: 393px) {
    .container_1 h2 {
        font-size: 1.6rem;
    }

}

@media (max-width: 320px) {
    .container_1 h2 {
        font-size: 1.7rem;
    }

    .container_1 h4 {
        font-size: 1rem;
    }

    .container_2 {
        width: 240px;
    }

    .container_2 h3 {
        font-size: 1.2rem;
    }

    .container_2 p {
        font-size: .9rem;
    }

    .container_main {
        padding: 1rem 1rem;
    }

    .container_main button {
        width: auto;
    }
}